        <!-- Intro Section -->
        <section Heroid="intro">
            <!--  Slider Section -->
            <div class="flexslider fullscreen-carousel hero-slider-1 ">
                <ul class="slides">

                    <!--Slide-->
                    <li data-slide="dark-slide">
                         <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/statue-of-garibaldi.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="title">Garabaldi Square Home Owners Association </h2>
                                        <!-- <p class="lead">We carry a passion for performance marketing</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/coolbathrooms.jpeg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                        <br />
                                        <div><a href="/contractors" class="btn btn-md btn-white-line xs-hidden">Contractors</a><span class="btn-space-10 xs-hidden"></span><a href="/listings" class="btn btn-md btn-white">Listings</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/IMG_0083.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner"> 
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                        <br />
                                        <!-- <div><a class="btn btn-md btn-white-line"></a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white xs-hidden"></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="<%= asset_path 'Garabalditownhome.jpg' %>">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">" We moved here for the great CPS magnet schools. We we have more than just great neighbors but life long friends.
                             "</h3>
                            <h3 class="quote-author">Jeff Dunham<span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">" Garabaldi Square is so centrally located you can get anywhere in Chicago quickly eany easily. We walk to some of the best Itialian restuarants in Chicago. 
                             "</h3>
                            <h3 class="quote-author">Berry Stien <span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">" With a major University, 5 hospitals, easy access to public transportation, who could ask for more?"</h3>
                            <h3 class="quote-author"> Leslie Cifelli <span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <hr />

        <section id="blog" class="wow fadeIn ptb ptb-sm-80 animated" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <h3 class="float-left float-none-xs"></h3>
                <a class="btn-link-a float-right float-none-xs"></a>
                <div class="clearfix"></div>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-40">
                        <div class=<span><a>Brick & Tile Designed and Installed</a></div>
                            <div class="post-media">
                                <img class="item-container" src="<%= asset_path 'outdoorpatio.jpeg' %>" alt="">
                            </div>
                            <div class="post-header">
                                <h5><a href="">by Stefano Nottolinni</a></h5>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-40">
                        <div class="post-meta"><a>Garibaldi Square Bathroom</a></div>
                            <div class="post-media">
                                <img class="item-container" src="<%= asset_path 'helfbath3.jpeg' %>" alt="">
                            </div>
                            <div class="post-meta"><a> by Phil McCarren</a>,</span></div>
                            <div class="post-header">
                                <h5><a href="Phil McCarren"></a></h5>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-40">
                        <div class="post-meta"><a>Dinner Table Height Kitchen Island</a></div> 
                            <div class="post-media">
                            <br>
                                <img class="item-container" src="<%= asset_path 'low-island-with-seating2.png' %>" alt="">
                            </div>
                            <div class="post-meta"><span><a>Design by Don Van cua, Instalation Van Cura Construction</a>,</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Blog Section -->
        <section id="blog" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <h3 class="float-left float-none-xs"></h3>
                <a class="btn-link-a float-right float-none-xs"></a>
                <div class="clearfix"></div>
                <div class="spacer-60"></div>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                        <!--<div class="blog-post">
                            <div class="post-media">
                                <video class="video" style="width: 100%;" width="" height="" preload="auto" poster="/media/echo-hereweare.jpg" controls="controls">
                                    <! MP4 source must come first for iOS -->
                                    <!--<source type="video/mp4" src="/media/video1.mp4" />
                                     <!--WebM for Firefox 4 and Opera -->
                      
                      <!--style="background-image: url('img/full/22.jpg');" -->          

                            </div>
                            
                            
                        </div>
                    </div>


                    

                </div>
            </div>
        </section>
        <!-- End Blog Section -->

        <!-- Statement Section -->
        <section id="statement" class="bg-img19 overlay-dark80 dark-bg ptb ptb-sm-80"> 

            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--<a class="cbox-iframe" href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent">
                            <div class="page-icon-top"><i class="ion ion-ios-film-outline"></i></div> -->
                        </a>
                        <h3>The neighborhood is one of Chicago's hidden jems. Located in the heart of the city, it's 20 minuites to work downtown door to door.</h3>
                        <div class="spacer-15"></div>
                        <a class="</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

        <!-- Shop Item -->
        <section id="" class="pt pt-sm-80">
            <div class="container text-center">
                <h3></h3>
                <div class="spacer-60"></div>
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="IMG_0091">
                                    <img src="outdoorpatio.jpeg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="</h6>
                                </a>
                                <div class=""><span></span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="">
                                <div class="app/assets/img/harrisonView.jpg">
                                    <img src="app/assets/img/halfbath5.jpeg">
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="">
                                <a>
                                </a>
                                <div></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="app/assets/img/low-island-with-seating2.png">
                                    <img src="app/assets/IMG_0064(1).jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="app/assets/img/cloth_alike.png">
                                        <div class="app/assets/img/halfbath.jpeg">
                                            <a class="btn btn-line-xs btn-white-line"><i class=""></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                                
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img src="/img/cort_yard.jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="shop-item-name"></h6>
                                </a>
                                <div class="shop-item-price"><span></span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Shop Item -->

        <!-- Client Logos Section -->
        <section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="">
                        <div class="client-logo">
                            <img src="/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/03.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/04.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/05.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/06.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/08.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/03.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Client Logos Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->
