        <!-- Intro Section -->
        <section Heroid="intro" id="hero">
            <!--  Slider Section -->
            <div class="flexslider fullscreen-carousel hero-slider-1 ">
                <ul class="slides">

                    <!--Slide-->
                    <li data-slide="dark-slide">
                         <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/statue-of-garibaldi.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="title">Garabaldi Square Home Owners Association </h2>
                                        <!-- <p class="lead">We carry a passion for performance marketing</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/cort_yard.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                        <br />
                                        <div><a href="/contractors" class="btn btn-md btn-white-line xs-hidden">Contractors</a><span class="btn-space-10 xs-hidden"></span><a href="/listings" class="btn btn-md btn-white">Listings</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="/assets/IMG_0083.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner"> 
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                        <br />
                      <!--                   <div><a class="btn btn-md btn-white-line"></a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white xs-hidden"></a></div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Slide-->
                    <li data-slide="dark-slide">
                        <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="<%= asset_path 'Garabalditownhome.jpg' %>">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h2 class="h2"></h2>
                                        <p class="lead"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- Testimonials -->
       <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">"We moved here for the great magnet schools. We we have more than just great neighbors but life long friends."
                             </h3>
                            <h3 class="quote-author">Jeff Dunham<span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">"Garabaldi Square is so centrally located you can get anywhere in Chicago quickly eany easily. We walk to some of the best Itialian restuarants in Chicago." </h3>
                            <h3 class="quote-author">Berry Stien<span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <h3 class="lead">"With the UIC campus, 5 hospitals, great restaraunts and parks as well as easy access to public transportation, who could ask for more?"</h3>
                            <h3 class="quote-author">Leslie Cifelli<span style="font-weight: 400;"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <hr />

        <section id="blog" class="wow fadeIn ptb ptb-sm-80 animated" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <h3 class="float-left float-none-xs"></h3>
                <a class="btn-link-a float-right float-none-xs"></a>
                <div class="clearfix"></div>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-40">
                        <div class="post-meta"><a>Bricks, Pavers, Tile, Instalation and designed by</a></div>
                            <div class="post-media">
                                <div class="contractor-image" style="background-image: url(<%= asset_path 'outdoorpatio.jpeg' %>); width: 100%"></div>
                            </div>
                            <div class="post-header">
                                <h5><a href="">Stefano Nottolinni</a></h5>
                            </div>
                    </div>

                    <div class="col-md-4 col-md-6 col-sm-6 mb-sm-40">   
                        <div class="post-meta"><a>Garibaldi Square at Harrison Ave.</a></div>
                            <div class="post-media">
                            <div class="contractor-image" style="background-image: url(<%= asset_path 'helfbath3.jpeg' %>); width: 100%"></div>

                            </div>
                            <div class="post-meta"><a>at Twilight</a></span></div>
                            <div class="post-header">
                                <h5><a href="Phil McCarren"></a></h5>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-40">
                        <div class="post-meta"><a>Kitchen Island at dinner table height a concept of</a></div> 
                            <div class="post-media">
                            <div class="contractor-image" style="background-image: url(<%= asset_path 'low-island-with-seating2.png' %>); width: 100%"></div>
                            </div>
                            <div class="post-meta"><a>Don Van Cura and Van Cura Construction</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Blog Section -->
        <section id="blog" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <h3 class="float-left float-none-xs"></h3>
                <a class="btn-link-a float-right float-none-xs"></a>
                <div class="clearfix"></div>
                <div class="spacer-60"></div>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                        <div class="blog-post">
                            <div class="post-media">
                                <video class="video" style="width: 100%;" width="" height="" preload="auto" poster="/media/echo-hereweare.jpg" controls="controls">
                                     MP4 source must come first for iOS 
           <!--     <source type="video/mp4" src="/media/video1.mp4" 
                                     WebM for Firefox 4 and Opera -->
                      
                      <!-- <style="background-image: url('img/full/22.jpg');"            -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Section -->

        <!-- Statement Section -->
        <section id="statement" class="bg-img19 overlay-dark80 dark-bg ptb ptb-sm-80"> 

            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <a class="cbox-iframe" href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent">  
        
        <!--                   <div class="page-icon-top"><i class="ion ion-ios-film-outline"></i></div> --> 

                        <a> 
                        <h3>The neighborhood is one of Chicago's hidden jems. Located in the heart of the city, it's 20 minuites to work downtown door to door.</h3>
                        <div class="spacer-15"></div>
                        <h4>Mickey Fitzpatrick</h4>
                 <!--       <a> class=</a>    -->  
                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

        <!-- Client Logos Section -->
        <section id="client-logos" class="wow fadeIn ptb ptb-sm-200">
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="">
                        <div class="client-logo">
                            <img src="/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/03.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/04.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/05.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/06.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/08.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="/img/logos/03.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Client Logos Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->