// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.star-rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  // margin-right: 
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 25px;
}
.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.image {
  height: 300px;
  width: 300px;
}


.bozo{
  height: 300px;
  width: 300px;
  float:right;
}
