// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .rating > span:hover:before {
//    content: "\2605";
//    position: absolute;
// }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-right: ;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}