<h3 class="textCenter padding40">Contract reviews empower each of us togather. Two review for of a single contractor with and avarage of 4 stars gives that contractor preferred status.</h3>
<h4 class="textCenter padding40">Tells if their quote was within the budget, if their workmanship was as expected, or any other acuman related to the work they completed.</h4>
<p>Enter your review</p>
<textarea cols="100" rows="40" id="post_body" name="post[body]" id="textbox"></textarea>

<!-- <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> -->

