<div class="containter">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<h2>Your reiews really matter. The reviews of contractors work and your satisfaction with that work will empower you and your neighbors. Give us your opinion of their efficiency, price, quality of workmanship or any other distinguishing characteristics. Tell us why you would hire or not hire a contractor again.</h2>

<h2>Contractor: <%= @review.contractor.name %></h2>

  	<h3> 
  	  Stars:
  	 <p> 
 	  
	  <% @review.stars.times do %>
	  	<div class="star-rating" style="float: left;"> 
	  		<span>☆</span>
	  	</div>
	  <% end %>
	</p></h3>	
</br>	


<p>Job Category: <%= @review.job_category.name %></p>
<p>Review: <%= @review.text %></p>
<p><a href='/'>Home: </a></p> 
</div>


