<h2>Reviews of the work contractors performed based on efficiency, price, quality of workmanship or any distinguishing characteristics that would make you hire or not hire that contractor again.</h2>

<h2>Contractor: <%= @review.contractor.name %>
<p>Stars: <%= @review.stars %></p>
<p>Job Category: <%= @review.job_category.name %></p>
<p>Review: <%= @review.text %></p>
